.app__app-container {
    border: 5px solid var(--primary-black);
    width: 95%;
    max-width: 1500px;
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 0px;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
    

    .company-info {
        width: 15%;
        padding: 1rem 0rem;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;

        @media screen and (max-width: 900px){
            width: 80%;
            text-align: center;
            align-items: center;
            padding-left: 0;
            border-bottom: 2px solid var(--primary-blue);
            font-size: 1.5rem;
        }

        .company {
            font-size: 1.2rem;
            @media screen and (max-width: 900px){
            font-size: 2rem;
            }
        }
        .role {
            color: var(--primary-blue);
        }
    }

    .status {
        width: 20%;
        padding: 1rem 0rem;
        @media screen and (max-width: 900px){
            width: 80%;
            font-size: 1.3rem;
            border-bottom: 2px solid var(--primary-blue);
        }
    }

    .dateapplied {
        width: 20%;
        padding: 1rem 0rem;
        @media screen and (max-width: 900px){
            width: 80%;
            font-size: 1.3rem;
            border-bottom: 2px solid var(--primary-blue);
        }
    }

    .URL {
        width: 20%;
        padding: 1rem 0rem;
        a {
            color: var(--primary-blue);
        }
        @media screen and (max-width: 900px){
            width: 80%;
            font-size: 1.3rem;
            border-bottom: 2px solid var(--primary-blue);
        }
    }

    .buttons {
        width: 20%;
        padding: 1rem 0rem;
        gap: 1rem;
        transition: 0.15s ease-in-out;

        button {
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .fa-solid {
            color: var(--primary-blue);
            font-size: 1.5rem;
            transition: 0.15s ease-in-out;
        }

        .fa-trash:hover {
            color: red;
            cursor: pointer;
            transform: scale(1.1);
        }

        .fa-pen-to-square:hover {
            cursor: pointer;
            color: rgb(0, 255, 0);
            transform: scale(1.1);
        }
    }
}