.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.app__app {
    width: 100%;
    min-height: 98vh;
    position: relative;
    gap: 5rem;

    @media screen and (max-width:900px) {
        flex-direction: column-reverse;
        
    }
}